.small-banner::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.12);
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    transition: all 0.5s ease-out 0s;
}

.small-banner::after{
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.12);
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    transition: all 0.5s ease-out 0s;
}

.small-banner:hover::before, .small-banner:hover::after{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.card:hover img{
    transform: scale(1.1) rotate(5deg);
}

.heart-wishlist:hover i{
    color: #fff;
}

.card:hover .heart-wishlist{
    display: flex;
}

.food-cat:hover .cat-name{
    color: #679509;
}

.food-cat:hover .cat-img .plus{
    display: flex;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    background-color: #679509dd;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}