/* src/components/Offcanvas.css */

/* Ensure the offcanvas is 340px wide and positioned from the right */
.offcanvas {
  width: 340px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 0;
}

/* When the offcanvas is active, it should slide in from the right */
.offcanvas.show {
  transform: translateX(0);
}

/* Close button */
.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  color: white;
}

/* Cart Item Styling */
.offcanvas-body .minicart-products {
  height: 106px;
  width: 100%;
  border-bottom: 1px solid #eeeeee;
  overflow: hidden;
  display: flex;
  padding: 15px;
}

/* Bottom section for summary and checkout buttons */
.offcanvas-body .minicart-bottom {
  width: 100%;
  height: 235px;
  padding: 20px;
  position: relative;
}

.offcanvas-body .minicart-bottom h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #679509;
}

.offcanvas-body .minicart-bottom .view-cart,
.offcanvas-body .minicart-bottom .proceed-checkout {
  width: 100%;
  height: 56px;
  padding: 15px 0px;
  text-align: center;
  border: 1px solid #679509;
  margin-top: 20px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
}

.offcanvas-body .minicart-bottom .proceed-checkout {
  background: #679509;
}

.offcanvas-body .minicart-bottom .view-cart:hover,
.offcanvas-body .minicart-bottom .proceed-checkout:hover {
  background: #2a660a;
  color: #ffffff;
}
