@tailwind base;
@tailwind components;
@tailwind utilities;


.blog-img-div, .blog-card .blog-img-div img, .blog-card .content{
  transition: all 0.3s ease-in-out;
}

.blog-card:hover .blog-img-div{
  transform: translateY(-15px);
  overflow: visible;
}

.blog-card:hover .blog-img-div img{
  transform: scale(1.1);
}

.blog-card:hover .content{
  transform: translateY(-5px);
}

